<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="HermaFx.SimpleConfig.Tests.DeclareAppConfiguration, HermaFx.SimpleConfig.Tests" name="DeclareAppConfiguration"/>
    <section type="HermaFx.SimpleConfig.Tests.SectionWithComplexProperty, HermaFx.SimpleConfig.Tests" name="SectionWithComplexProperty"/>
    <section type="HermaFx.SimpleConfig.Tests.ContainingCollectionConfigSection, HermaFx.SimpleConfig.Tests" name="ContainingCollectionConfigSection"/>
    <section type="HermaFx.SimpleConfig.Tests.SectionWithRequiredAttribute, HermaFx.SimpleConfig.Tests" name="SectionWithRequiredAttribute"/>
    <section type="HermaFx.SimpleConfig.Tests.SectionWithDefaultAttribute, HermaFx.SimpleConfig.Tests" name="SectionWithDefaultAttribute"/>
    <section type="HermaFx.SimpleConfig.Tests.SectionWithValidators, HermaFx.SimpleConfig.Tests" name="SectionWithValidators"/>
    <section type="HermaFx.SimpleConfig.Tests.ClassicSection, HermaFx.SimpleConfig.Tests" name="ClassicSection"/>
    <section type="HermaFx.SimpleConfig.Tests.PerformanceSection, HermaFx.SimpleConfig.Tests" name="PerformanceSection"/>
    <section type="HermaFx.SimpleConfig.Tests.PublishableConcepts, HermaFx.SimpleConfig.Tests" name="PublishableConcepts"/>
    <section type="HermaFx.SimpleConfig.Tests.SimpleConfigurationSection, HermaFx.SimpleConfig.Tests" name="SimpleConfiguration"/>
    <section type="HermaFx.SimpleConfig.Tests.SectionWithConverters, HermaFx.SimpleConfig.Tests" name="SectionWithConverters"/>
    <section type="HermaFx.SimpleConfig.Tests.StandaloneConfigurationSection, HermaFx.SimpleConfig.Tests" name="StandaloneConfiguration"/>
  </configSections>

  <DeclareAppConfiguration IntProperty="3" DoubleProperty="5.2"/>
  
  <SectionWithComplexProperty>
    <ComplexProperty UriProperty="http://google.pl/"/>
    <CollectionProperty>
      <add Value1="one"/>
    </CollectionProperty>
  </SectionWithComplexProperty>

  <ContainingCollectionConfigSection>
    <Children>
      <add IntProperty="1"/>
      <add IntProperty="2"/>
    </Children>
    <CustomChildren>
      <clearCustom/>      
      <addCustom IntProperty="1"/>      
      <addCustom IntProperty="2"/>      
      <addCustom IntProperty="3"/>      
    </CustomChildren>
  </ContainingCollectionConfigSection>

  <SectionWithRequiredAttribute/>
  <SectionWithValidators ToLong="too long long long long"/>

  <SectionWithDefaultAttribute SettedInConfig="setted in config"/>

  <ClassicSection StringValue="ala ma kota">
    <Child ChildDouble="3.1415"/>
    <Elements>
      <add ChildDouble="3.14151"/>
      <add ChildDouble="3.14152"/>
      <add ChildDouble="3.14153"/>
    </Elements>
  </ClassicSection>
  <PerformanceSection StringValue="ala ma kota">
    <Child ChildDouble="3.1415"/>
    <Elements>
      <add ChildDouble="3.14151"/>
      <add ChildDouble="3.14152"/>
      <add ChildDouble="3.14153"/>
    </Elements>
  </PerformanceSection>


  <PublishableConcepts>
    <Concepts>
      <Concept UniqueId="first"/>
    </Concepts>
    <Volumes>
      <Volume Matcher="kot"/>
    </Volumes>
  </PublishableConcepts>

  <SimpleConfiguration name="SimpleName" Count="42" Matcher="123abc456" number="6">
    <Child name="SimpleChild"/>
  </SimpleConfiguration>

  <SectionWithConverters 
    EnumArray="ValueTwo, ValueThree"
    EnumEnumerable="Value2, ValueThree" 
    BitmaskEnum="Value1, Value3"
  />

  <StandaloneConfiguration configSource="standalone.config"/>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
