<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.NLog40" version="3.3.1" targetFramework="net452" />
  <package id="NLog" version="4.0.0" targetFramework="net452" />
  <package id="Rebus" version="0.84.0" targetFramework="net452" />
  <package id="Rebus.AdoNet" version="1.0.119" targetFramework="net452" />
</packages>